<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <pre>
Hi Sir/Madam
Thank You for registering and being a part with us.
Looking forward for your participation in the upcoming events.
Thank You!!

</pre>
    </div>
</body>
</html>
