@{
    ViewBag.Title = "Contact";
}

<link href="~/Scripts/Contact.css" rel="stylesheet" />
<h1 style="text-align:center;color:white;margin-top:100px"><b><em>Get In Touch with Us</em></b></h1>
<div class="jumbotron" style="opacity:0.7">
    <div class="form">
        <p> <b>Contact no.<input type="text" name="text" /></b></p></br>

        <p> <b>Email<input type="email" name="text" /></b></p></br>
        <p> <b>Message<textarea name="Message" rows="2" cols="20"></textarea></b></p></br>
        <strong><b><input class="btn btn-primary" style="color:black" type="submit" name="submit" /></b>  </strong>
    </div>
</div>