
@{
    ViewBag.Title = "Service";
}


<link href="~/Scripts/Flipcards.css" rel="stylesheet" />
<div class="container" >
    <div class="gridStyle">
        <div class="row">

            <div class="col-md-3">

                <div class="flip-card" style="margin-top:50px;">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">

                            <img src="~/images/conf1.jpg" alt="Conference" style="width:200px;height:200px">
                            <div class="name">
                                <h3><b>Conference</b></h3>
                            </div>

                        </div>
                        <div class="flip-card-back">

                            <p>
                                Seminars are usually shorter events, lasting anywhere from a couple of hours to a few workdays.
                                They have single or multiple speakers and generally keep all participants together in the same space
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3;" style="margin-left:320px;margin-top:-200px">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                        <img src="~/images/trade.jpg" alt="Trade Shows" style="width:200px;height:200px">
                        <div class="name">
                            <h3><b>Trade Shows</b></h3>
                        </div>
                    </div>
                    <div class="flip-card-back">

                        <p>
                            Event planning for trade shows involves negotiating sponsorship rates for booth space,
                            advertising, promotion, and speaking opportunities where company leadership can speak.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top:-200px;margin-left:600px">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                        <img src="~/images/dinner2.jpg" alt="Dinner" style="width:200px;height:200px">
                        <div class="name">
                            <h3><b>Dinner</b></h3>
                        </div>
                    </div>
                    <div class="flip-card-back">


                        <p>
                            Business dinners are a long-standing corporate tradition, used to conclude fiscal years,
                            celebrate new milestones, introduce new management, or a host of other prestigious events.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top:-200px;margin-left:900px">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/net eve.jpg" alt="Networking Events" style="width:200px;height:200px">
                        <div class="name">
                            <h3><b>Networking Events</b></h3>
                        </div>
                    </div>
                    <div class="flip-card-back">

                        <p>
                            Event networking is a form of informal communication that takes place at corporate meetings,
                            business conferences, roundtables, and other events focusing on a specific theme or industry.
                        </p>
                    </div>

                    
                </div>
            </div>
        </div>

        <hr />
        <div class="row">

            <div class="col-md-3" style="margin-top:50px">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">

                            <img src="~/images/freshinduction.jpg" alt="Freshers Induction" style="width:200px;height:200px">
                            <div class="name">
                                <h3><b>Freshers Induction</b></h3>
                            </div>
                        </div>
                        <div class="flip-card-back">

                            <p>
                                An induction programme is the process used within many
                                businesses to welcome new employees to the company and prepare them for their new role.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3;" style="margin-top:50px;margin-left:320px">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">

                            <img src="~/images/pl.jpg" alt="Product Launch" style="width:200px;height:200px">
                            <div class="name">
                                <h3><b>Product Launch</b></h3>
                            </div>
                        </div>
                        <div class="flip-card-back">

                            <p>
                                Launch events are meant to generate media coverage and industry buzz prior to a product release.
                                These events may include a flashy introduction to the product along with an address from the company
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:-200px;margin-left:600px">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">

                            <img src="~/images/press-conference.jpg" alt=" Press Conference" style="width:200px;height:200px">
                            <div class="name">
                                <h3><b>Press Conference</b></h3>
                            </div>
                        </div>
                        <div class="flip-card-back">

                            <p>
                                Press conferences may promote products, apologize for incidents,
                                launch marketing campaigns, or inform shareholders of finances.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-top:-200px;margin-left:900px">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">

                            <img src="~/images/rec.jpg" alt="Freshers Recruitment" style="width:200px;height:200px">
                            <div class="name">
                                <h3><b>Freshers Recruitment</b></h3>
                            </div>
                        </div>
                        <div class="flip-card-back">

                            <p>
                                Every year thousands of talent will passout who are suiting the requirements of the perticular company.
                                Recruitment is a process of bringing those talents to the company
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">

                <div class="col-md-3">

                    <div class="flip-card" style="margin-top:50px">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">

                                <img src="~/images/sports.jpg" alt="Game" style="width:200px;height:200px">
                                <div class="name">
                                    <h3><b>Game</b></h3>
                                </div>
                            </div>
                            <div class="flip-card-back">

                                <p>
                                    As with the executive retreat, the idea is to give people in the organization
                                    a venue where they will be able to build relationships in a relaxed environment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3;" style="margin-left:320px">

                    <div class="flip-card" style="margin-top:50px">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="~/images/Incentive-Collage.jpg" alt="Intensive Trips" style="width:200px;height:200px">
                                <div class="name">
                                    <h3><b>Intensive Trips</b></h3>
                                </div>
                            </div>
                            <div class="flip-card-back">

                                <p>
                                    Executive retreats and incentive trips typically last between three and five days, and the
                                    planning requires attention to the site selection,
                                    lodging, transportation, catering, business meetings, golfing and other activities
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:-200px;margin-left:600px">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">

                                <img src="~/images/csr.jpg" alt="CSR Activites" style="width:200px;height:200px">
                                <div class="name">
                                    <h3><b>CSR Activites</b></h3>
                                </div>
                            </div>
                            <div class="flip-card-back">

                                <p>Common CSR actions include:Environmental sustainability, Community involvement,Ethical marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" >

                    <div class="flip-card"style="margin-top:-200px;margin-left:900px">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">

                                <img src="~/Models/img/app.jpg" alt="Appreciation" style="width:200px;height:200px">
                                <div class="name">
                                    <h3><b>Appreciation</b></h3>
                                </div>
                            </div>
                            <div class="flip-card-back">

                                <p>
                                    There are limitless possibilities and types of appreciation events that organizations
                                    hold throughout the year like Private parties at music festivals,
                                    Holiday parties,
                                    Tickets to a popular event,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>